* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Gilroy-Regular ☞";
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #212121;
}

#left {
    width: 80%;
    height: 100%;
}

#right {
    width: 20%;
    height: 100%;
    background-color: green;
}

#left-top {
    width: 100%;
    height: 70%;
    background-image: url(https://images.unsplash.com/photo-1504204267155-aaad8e81290d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
}

#left-bottom {
    width: 100%;
    height: 30%;
    background-color: #000000;
    padding: 45px 200px;
}

#left-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
}

#content-left {
    position: relative;
    width: 45%;
    height: 100%;
}

#content-left p {
    width: 100%;
    font-size: xx-small;
    /* opacity: 0.5; */
    margin-top: 7%;

}

#content-right {
    
    width: 45%;
    height: 100%;
}

#right-top {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    background-color: rgb(203, 203, 203);
    padding: 70px;
}

#right-top a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 2px;
}

#right-top a:nth-child(3) {
    position: relative;
    margin-left: 30px;
}

#right-top a:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000000;
    top: 50%;
    left: -30px;
    
}

#icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    right: 0;
    top: 0;
    margin: 30px;
}

#right-bottom {
    position: relative;
    width: 100%;
    height: 30%;
    /* background-color: #dadada; */
    background-color: #212121;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gilroy-Regular ☞";
}

.text h1 {
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.row-element {
    display: flex;
    width: 45%;
   
}

.row-text {
    margin-left: 10%;
}

.row-text p {
    font-size: xx-small;
    margin-top: 5%;
    font-weight: 100;
    opacity: 0.5;
}



