* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    /* background-color: #212121; */
    background-image: url(https://images.unsplash.com/photo-1575737698350-52e966f924d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

#overlay {
    display: flex;
    width: inherit;
    height: inherit;
    backdrop-filter: blur(5px);
}

#left {
    position: relative;
    width: 50vw;
    height: inherit;
    /* background-color: #000; */
}

#left-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 50vh;
    background-color: #000;

}

#right {
    position: relative;
    width: 50vw;
    height: inherit;
}

#nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6vw ;
    width: 100vw;
    height: 10vh;
    color: white;
}

#nav #links {
    display: flex;
    gap: 4vw;
}

#links a {
    color: #fff;
    text-decoration: none;
    font-family: "Gilroy-Regular ☞";
}

#nav h4 {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 100px;
    height: 35px;
    background-color: #000;
    border-radius: 25px;
    font-family: "Gilroy-Regular ☞";
}

#nav i {
    font-size: 4vw;
}




