* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #DFDFDF;
    /* user-select: none; */
}

#nav {
    position: absolute;
    display: flex;
    width: 100%;
    height: 10%;
    font-family: "Ubuntu Mono";
    /* padding: 5% 5%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav h1 {
    font-size: 26px;
}

#links {
    display: flex;
    gap: 40px;
}

#links a {
    font-family: "EA Sports Covers SC";
    text-transform: lowercase;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

#links a:nth-child(1) {
    margin-right: 700px;
}

#left {
    position: relative;
    width: 30%;
    height: 100%;
}

#lab {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: 30%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lab h1 {
    top: 50%;
    font-size: 160px;
    font-family: "Ubuntu Mono";
}

#number {
    position: absolute;
    left: 5%;
    bottom: 0%;
    transform: rotate(90deg);
    width: 50%;
    height: 30%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#number h1 {
    font-family: "Apex";
    font-size: 100px;
}

#right {
    position: relative;
    width: 70%;
    height: 100%;
}

#overlay {
    position: absolute;
    left: 0%;
    bottom: 5%;
    width: 100%;
    height: 45%;
    background-color: #ff522f;
}

#overlay img {
    position: absolute;
    right: 10%;
    bottom: -11%;
}

#img-overlay {
    position: absolute;
    z-index: 999;
    right: 15%;
    width: 40%;
    height: 100%;
    background-color: #ff52303b;
}

#overlay i {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #000;
    bottom: 0%;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rcontent {
    position: absolute;
    top: 15%;
    width: 50%;
    height: 20%;
}

#rcontent h2 {
    font-family: "Double Line 7";
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.4;
}

#rcontent-text {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-family: "EA Sports Covers SC";
    font-size: xx-small;
    opacity: 0.7;
}

#rcontent-text p {
    width: 45%;
}

#lcontent {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 20%;
    height: 30%;
    /* background-color: #000; */
    color: #000;
    font-family: "Gilroy ☞";
    transform: rotate(90deg);
}

#lcontent h2 {
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.line {
    width: 90%;
    height: 2px;
    background-color: #000;
}





